@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    /* -webkit-background-clip: ; */
}

body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}